
.devtop{
    text-align: center;
    color: #53a2be;
}
.h4{
    text-align: center;
}
.devteam{
justify-content: center;
}
.dev5{
  : ;
}

.dev1pix,.dev2pix, .dev3pix,.dev4pix{
    text-align: center;
    
}
.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }
  
  .fa-brands:hover {
      opacity: 0.5;
      color: rgb(233, 223, 223);
  }
  
  .fa-facebook {
    background: transparent;
    color: #0a2239;
  }
  
  .fa-twitter {
    background:transparent;
    color: #0a2239;
  }
  
  .fa-linkedin {
    background:transparent;
    color: #0a2239;
  }
  
  .fa-youtube {
    background: transparent;
    color: #0a2239;
  }
  
  .fa-github {
    background: transparent;
    color: #0a2239;
  }
  .gmap_canvas{
    align-items: center;
  }