
.devtop{
    text-align: center;
    color: #53a2be;
}
.h4{
    text-align: center;
}
.devteam{
justify-content: center;
}
.dev1pix,.dev2pix, .dev3pix,.dev4pix{
    text-align: center;   
}
.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }
  
  .fa-brands:hover {
      opacity: 0.5;
      color: rgb(233, 223, 223);
  }
  
  .fa-facebook {
    background: transparent;
    color: #0a2239;
  }
  
  .fa-twitter {
    background:transparent;
    color: #0a2239;
  }
  
  .fa-linkedin {
    background:transparent;
    color: #0a2239;
  }
  
  .fa-youtube {
    background: transparent;
    color: #0a2239;
  }
  
  .fa-github {
    background: transparent;
    color: #0a2239;
  }
  .gmap_canvas{
    align-items: center;
  }
  /* css for AboutUs.html */
  .wrapper {
      column-count: 1;
      column-gap: 50px;
      padding-right:5px;
    }
  .aboutpix1{
    float:right;
    width: 450px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  p {
    line-height: 1.6; 
    font-family: Helvetica;
    text-align: justify;
    margin: 0;
    font-size: 20px;
  }
  .aboutpix2 {
    border-radius: 50%;
    height: 200px; 
    width:200px;
    background-color: #2badd9;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
  }
